@{
    ViewData["Title"] = "View Hub";
}
<h1>@ViewData["Title"]</h1>
<button id="incrementCount" class="btn btn-outline-primary">increment Count</button>

<p>Current View Count <span id="viewCounter">0</span></p>
@section Scripts {
    <script src="~/js/ViewCount.js"></script>
}